* {
	box-sizing: border-box;
}

.app-container {
	text-align: center;
	position: relative;
}

.lock-combination {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 80px 30px;
	margin: 15px 0;
	width: 500px;
	height: 100px;
	background: rgb(115, 116, 120);
	background: linear-gradient(180deg, rgba(115, 116, 120, 1) 0%, rgba(33, 37, 40, 1) 100%);
	border: 3px solid #eef2f3;
	border-radius: 15px;
	box-shadow: inset 0 0 15px 5px #171515, 0 0 15px 5px #171515;
	position: relative;
}

.lock-combination::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 7px;
	border-color: transparent transparent transparent #eef2f3;
}

.lock-combination::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 7px 5px 0;
	border-color: transparent #eef2f3 transparent transparent;
}

.lock-combination_value {
	color: #3b3f40;
	width: 80px;
	height: 80px;
	border: 1px solid #020202;
	border-radius: 3px;
	background: rgb(253, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(253, 255, 255, 1) 0%,
		rgba(240, 240, 240, 1) 3%,
		rgba(241, 246, 247, 1) 19%,
		rgba(181, 177, 174, 1) 50%
	);
	-webkit-box-shadow: 21px 15px 21px -3px rgba(2, 2, 2, 0.71);
	box-shadow: 21px 15px 21px -3px rgba(2, 2, 2, 0.71);
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
	user-select: none;
	text-shadow: 2px 2px 2px #ffffff;
}

.dark-silver-btn {
	cursor: pointer;
	background: rgb(115, 116, 120);
	background: linear-gradient(180deg, rgba(115, 116, 120, 1) 0%, rgba(33, 37, 40, 1) 100%);
	box-shadow: 2px 5px 5px 0px rgba(2, 2, 2, 0.71);
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #eef2f3;
	transition: 0.1s;
	outline: transparent;
	padding: 5px;
}

.question {
	position: absolute;
	bottom: calc(100% + 30px);
	width: 100%;
}

.next-btn {
	width: 65px;
	height: 48px;
	border-radius: 5px;
	margin-top: 30px;
}

.next-btn:hover {
	font-size: 15px;
}

.dark-silver-btn:active {
	transform: translateY(4px);
	box-shadow: 1px 0px 0px 0px rgba(2, 2, 2, 0.71);
}

.customize {
	display: flex;
	align-items: center;
	justify-content: center;
}

.customize-button {
	width: 60px;
	height: 60px;
	padding: 10px;
	margin: 30px;
	font-size: 25px;
}

.customize-button:hover {
	font-size: 30px;
}

.text-with-border {
	color: #f0f0f0;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.lock-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.summary-answers {
	text-align: left;
	background: white;
	border-radius: 15px;
	padding: 25px 50px;
	line-height: 2;
	list-style-position: inside;
	max-width: 85vw;
}

.fa-ul {
	margin: 0 auto;
}

.check-icon {
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

.again {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	margin: 15px;
}

.again-btn {
	flex-basis: 40%;
	transition: 0.15s;
	min-height: 48px;
}

.question-long {
	font-size: 1.6em;
}

@media (max-width: 550px) {
	.lock-combination {
		width: 400px;
		height: ;
		padding: 50px 20px;
		margin: ;
		font-size: ;
	}

	.lock-combination_value {
		width: 65px;
		height: 65px;
	}

	.summary-answers {
	}
}

@media (max-width: 450px) {
	.customize-header {
		width: 290px;
		margin: 0 auto;
		font-size: 1.3em;
	}

	.customize {
		margin: 30px;
	}

	.customize-button {
		margin: 10px;
	}

	.question {
		font-size: 1.5em;
	}

	.lock-combination {
		margin: 0;
		padding: 15px;
		width: 300px;
	}

	.lock-combination_value {
		width: 50px;
		height: 50px;
	}

	.question-long {
		font-size: 1em;
	}
}

@media (orientation: landscape) {
	.question {
		position: static;
	}

	.lock-combination {
		margin: 0 auto;
	}
}
